---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Habilidades">
  <section class="mt-20 mx-4 lg:mx-32">
    <p class="subtitulo my-10 text-csecundario">Educación complementaria</p>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
        <div class="rounded-2xl p-4 bg-cprincipal/5">
             <div class="flex flex-col justify-between">
                <p class="parrafobold my-2 text-cprincipal">Habilidades en programación con énfasis en desarrollo web</p>
                <p class="parrafo">MINTIC</p>
                <div class="flex justify-between items-end">
                    <p class="subparrafolight">800 Horas</p>
                    <img width="200" src="/portafolio/Mintic.webp" alt="Habilidades en programación web con énfasis en desarrollo web realizado en el mintic con una duración de 800 horas">
                </div>
            </div>
        </div>
        <div class="rounded-2xl p-4 bg-cprincipal/5">
             <div class="flex flex-col justify-between">
                <p class="parrafobold my-2 text-cprincipal">Diplomado en desarrollo de aplicaciones web</p>
                <p class="parrafo">MINTIC</p>
                <div class="flex justify-between items-end">
                    <p class="subparrafolight">200 Horas</p>
                    <img width="200" src="/portafolio/Mintic.webp" alt="Habilidades en desarrollo de aplicaciones web realizado en el mintic con una duración de 200 horas">
                </div>
            </div>
        </div>
        <div class="rounded-2xl p-4 bg-cprincipal/5">
             <div class="flex flex-col justify-between">
                <p class="parrafobold my-2 text-cprincipal">Diplomado en desarrollo de software</p>
                <p class="parrafo">MINTIC</p>
                <div class="flex justify-between items-end">
                    <p class="subparrafolight">200 Horas</p>
                    <img width="200" src="/portafolio/Mintic.webp" alt="Habilidades en desarrollo de software realizado en el mintic con una duración de 200 horas">
                </div>
            </div>
        </div>
        <div class="rounded-2xl p-4 bg-cprincipal/5">
             <div class="flex flex-col justify-between">
                <p class="parrafobold my-2 text-cprincipal">Curso de HTML y CSS Avanzado</p>
                <p class="parrafo">Platzi</p>
                <div class="flex justify-between items-end">
                    <p class="subparrafolight">24 Horas</p>
                    <img width="200" src="/portafolio/platzi.webp" alt="Curso de HTML y CSS realizado en platzi">
                </div>
            </div>
        </div>
        <div class="rounded-2xl p-4 bg-cprincipal/5">
             <div class="flex flex-col justify-between">
                <p class="parrafobold my-2 text-cprincipal">Fundamentos UI/UX</p>
                <p class="parrafo">Platzi</p>
                <div class="flex justify-between items-end">
                    <p class="subparrafolight">16 Horas</p>
                    <img width="200" src="/portafolio/platzi.webp" alt="Curso de fundamentos ui/ux realizado en platzi">
                </div>
            </div>
        </div>
        <div class="rounded-2xl p-4 bg-cprincipal/5">
             <div class="flex flex-col justify-between">
                <p class="parrafobold my-2 text-cprincipal">Curso de bootstrap</p>
                <p class="parrafo">Platzi</p>
                <div class="flex justify-between items-end">
                    <p class="subparrafolight">10 Horas</p>
                    <img width="200" src="/portafolio/platzi.webp" alt="Curso de bootstrap realizado en platzi">
                </div>
            </div>
        </div>
        <div class="rounded-2xl p-4 bg-cprincipal/5">
             <div class="flex flex-col justify-between">
                <p class="parrafobold my-2 text-cprincipal">Fundamentos de programacion en python</p>
                <p class="parrafo">MINTIC</p>
                <div class="flex justify-between items-end">
                    <p class="subparrafolight">200 Horas</p>
                    <img width="200" src="/portafolio/Mintic.webp" alt="Fundamentos de programación en Python realizado en el mintic con una duración de 200 horas">
                </div>
            </div>
        </div>
        <div class="rounded-2xl p-4 bg-cprincipal/5">
             <div class="flex flex-col justify-between">
                <p class="parrafobold my-2 text-cprincipal">Diplomado de programación básica en java</p>
                <p class="parrafo">MINTIC</p>
                <div class="flex justify-between items-end">
                    <p class="subparrafolight">200 Horas</p>
                    <img width="200" src="/portafolio/Mintic.webp" alt="Diplomado de programación básica en java realizado en el mintic con una duración de 200 horas">
                </div>
            </div>
        </div>
    </div>
  </section>
</Layout>
