---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portal EDUCATIVO">
  <div class="section contenedorprincipal">
    <div class="flex justify-center">
      <div class="row h-full justify-center">
        <div class="text-center items-center py-5">
          <div class="section pb-5 pt-5 sm:pt-2 text-center">
            <h6 class="mb-0 pb-3">
              <span>ESTUDIANTE</span>
              <span>PADRE</span>
            </h6>
            <input
              class="checkbox"
              type="checkbox"
              id="reg-log"
              name="reg-log"
            />
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front flex">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="subtitulo textoajustado">Estudiante</h4>
                      <span class="hidden sm:block text-cblanco parrafo textoajustado"
                        >Puedes usar tu código de estudiante o tu correo
                        institucional</span
                      >
                      <form
                        method="post"
                        enctype="multipart/form-data"
                        id="sign-up-form"
                        class="space-y-2"
                      >
                        <div class="form-group">
                          <input
                            autocomplete="username"
                            name="Usuario"
                            id="Usuario"
                            type="email"
                            class="campoInputEnter form-style"
                            placeholder="Código"
                            required
                          />
                          <i
                            class="input-icon uil uil-at"
                            style="color: #76358B;"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            autocomplete="current-password"
                            name="Clave"
                            id="Clave"
                            type="password"
                            class="campoInputEnter form-style"
                            placeholder="Contraseña"
                            required
                          />
                          <i
                            class="input-icon uil uil-lock-alt"
                            style="color: #76358B;"></i>
                        </div>
                        <div class="d-grid">
                          <button
                            class="btnIngresar w-full btn py-1 mt-4 rounded-lg justify-center"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-title="Ingreso con usuario y contraseña"
                            style="background-color: #FCC045; color: #05437A;"
                            type="button"
                          >
                            Ingresar
                          </button>
                          <div class="flex items-center justify-between">
                            <hr
                              class="bg-cblanco text-cblanco"
                              style="width:40%"
                            />
                            <span class="text-cblanco">o</span>
                            <hr
                              class="bg-cblanco text-cblanco"
                              style="width: 40%;"
                            />
                          </div>
                          <button
                            id="ARecuperarClave"
                            class="btn w-full justify-center"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-title="Ingreso con la cuenta institucional Google"
                            style="background-color: #78cdff; color: #062b4b;"
                            type="button"
                          >
                            Ingresa con tu cuenta Google
                          </button>
                          <div class="flex items-center justify-between">
                            <hr
                              class="bg-cblanco text-cblanco"
                              style="width:40%"
                            />
                            <span class="text-cblanco">o</span>
                            <hr
                              class="bg-cblanco text-cblanco"
                              style="width: 40%;"
                            />
                          </div>
                          <button
                            id="ARecuperarClave"
                            class="btn w-full justify-center"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-title="Ingreso rápido a través de un código de verificación enviado por correo"
                            style="background-color: #f48475; color: #43120c;"
                            type="button"
                          >
                            Clave de acceso rápido
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="card-back" style="display: flex;">
                  <div
                    id="claseActivaIn"
                    class="imagenes_cambio d-none d-sm-block"
                  >
                    <img
                      src="/portafolio/LoginNina.webp"
                      class="hidden md:block"
                      alt="Ilustracion de una niña (Estudiante)"
                      style="width:248px; height:476px;"
                    />
                  </div>
                  <div
                    id="claseActivaInBoy"
                    class="imagenes_cambio_inactive d-none d-sm-block"
                  >
                    <img
                      src="/portafolio/LoginPapa.webp"
                      class="hidden md:block"
                      alt="Ilustracion de un señor (Padre)"
                      style="width:281px; height:489px"
                    />
                  </div>
                  
                  <script>
                    const checkbox = document.getElementById("reg-log");
                    const elemento = document.getElementById("claseActivaIn");
                    const elementob =
                      document.getElementById("claseActivaInBoy");

                    if (checkbox && elemento && elementob) {
                      checkbox.addEventListener("change", function () {
                        if (this instanceof HTMLInputElement) {
                          // Verifica si `this` es una instancia de HTMLInputElement
                          if (this.checked) {
                            setTimeout(() => {
                              elemento.classList.add(
                                "imagenes_cambio_inactive"
                              );
                              elementob.classList.add("imagenes_cambio");
                              elementob.classList.remove(
                                "imagenes_cambio_inactive"
                              );
                            }, 200);
                          } else {
                            setTimeout(() => {
                              elemento.classList.remove(
                                "imagenes_cambio_inactive"
                              );
                              elemento.classList.add("imagenes_cambio");
                              elementob.classList.remove("imagenes_cambio");
                              elementob.classList.add(
                                "imagenes_cambio_inactive"
                              );
                            }, 200);
                          }
                        }
                      });
                    }
                  </script>

                  <div class="center-wrap">
                    <form
                      action=""
                      method="post"
                      enctype="multipart/form-data"
                      name="FrmIngresoPadre"
                      id="FrmIngresoPadre"
                      class="space-y-2"
                    >
                      <div class="section text-center">
                        <h4 class="subtitulo textoajustado">Padre</h4>
                        <span class="hidden sm:block mb-3 parrafo text-cblanco textoajustado">Ingresa con tu cédula, correo o clave. </br> También puedes solicitar un token</span>
                      </div>
                      <div class="form-group mt-2">
                        <input
                          autocomplete="username"
                          type="text"
                          name="DocumentoPapas"
                          id="DocumentoPapas"
                          class="form-style"
                          placeholder="Usuario"
                        />
                        <i
                          class="input-icon uil uil-user"
                          style="color: #76358B;"></i>
                      </div>
                      <div class="form-group">
                        <input
                          autocomplete="current-password"
                          type="password"
                          name="ClavePapas"
                          id="ClavePapas"
                          class="form-style"
                          placeholder="Contraseña"
                        />
                        <i
                          class="input-icon uil uil-lock-alt"
                          style="color: #76358B;"></i>
                      </div>
                      <button
                        style="background-color: #FCC045; color: #05437A;"
                        class="btnIngresar btn mt-4 w-full justify-center"
                        >Ingresar</button
                      >
                      <div class="d-flex justify-content-around">
                        <div class="flex items-center justify-between">
                          <hr
                            class="bg-cblanco text-cblanco"
                            style="width:40%"
                          />
                          <span class="text-cblanco">o</span>
                          <hr
                            class="bg-cblanco text-cblanco"
                            style="width: 40%;"
                          />
                        </div>
                        <button
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-bs-title="Ingreso rápido a través de un código de verificación enviado por correo"
                          onclick="SolicitarPIN();"
                          class="btn w-full justify-center"
                          style="background-color: #f48475; color: #43120c;"
                          >Clave de acceso rápido</button
                        >
                        <div class="row" id="DivResultadoPadre"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-end h-full " style="margin-top:50px">
      <a target="_blank" href="https://intranet.cemid.org/EstudiantesNET/" class="p- rounded-full border border-cprincipal text-cprincipal  hover:bg-cprincipal transition-all hover:text-cblanco" style="padding:1rem">VER EN VIVO</a>
    </div>
  </div>


</Layout>

  <style>

    * {
      padding: 0;
      margin: 0;
    }

    .textoajustado {
      margin-bottom: 1rem;
    }

    .contenedorprincipal {
      margin-top:7.5rem
    }

    
    .imagenes_cambio {
      position: absolute;
      z-index: 1000;
      right: -235px;
    }

    .imagenes_cambio_inactive {
      position: absolute;
      z-index: 0;
      right: -200px;
      opacity: 0;
      display: none;
    }

    .imagen-estatica :active {
      -webkit-transition: opacity 1s;
      opacity: 0;
    }

    h6 span {
      padding: 0 40px;
      font-weight: 700;
      color: #05477D;
    }
    
    h4 {
      font-weight: 600;
      color: #FCC045;
    }

    .link {
      color: #ffeba7;
    }

    .link:hover {
      color: #c4c3ca;
    }

    .section {
      position: relative;
      width: 100%;
      display: block;
    }

    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
      display: none;
    }

    .checkbox:checked + label,
    .checkbox:not(:checked) + label {
      position: relative;
      display: block;
      text-align: center;
      width: 60px;
      height: 16px;
      border-radius: 8px;
      padding: 0;
      margin: 10px auto;
      cursor: pointer;
      background-color: #05477d;
    }

    .checkbox:checked + label:before,
    .checkbox:not(:checked) + label:before {
      position: absolute;
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      color: #fff4d9;
      background-color: #76358b;
      font-family: "unicons";
      content: "\eb4f";
      z-index: 20;
      top: -10px;
      left: -10px;
      line-height: 36px;
      text-align: center;
      font-size: 24px;
      transition: all 0.5s ease;
    }

    .checkbox:checked + label:before {
      transform: translateX(44px) rotate(-270deg);
    }

    .card-3d-wrap {
      position: relative;
      width: 440px;
      max-width: 100%;
      height: 475px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      perspective: 800px;
      margin-top: 60px;
    }

    .card-3d-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transition: all 600ms ease-out;
    }

    .card-front,
    .card-back {
      width: 100%;
      height: 100%;
      background-color: #05477d;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%237E558B' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFFFFF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
      position: absolute;
      border-radius: 6px;
      -webkit-transform-style: preserve-3d;
    }

    .card-back {
      transform: rotateY(180deg);
    }

    .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
      transform: rotateY(180deg);
    }

    .center-wrap {
      position: absolute;
      width: 100%;
      padding: 0 35px;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 35px) perspective(100px);
      z-index: 20;
      display: block;
    }
    .form-group {
      position: relative;
      display: flex;
      margin: 0;
      padding: 0;
    }

    .form-style {
      padding: 13px 20px;
      padding-left: 55px;
      height: 48px;
      width: 100%;
      font-weight: 500;
      border-radius: 4px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.5px;
      outline: none;
      color: #76358b;
      background-color: #e0e8ef;
      border: none;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
    }

    .form-style:focus,
    .form-style:active {
      border: none;
      outline: none;
      box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
    }

    .input-icon {
      position: absolute;
      top: 0;
      left: 18px;
      height: 48px;
      font-size: 24px;
      line-height: 48px;
      text-align: left;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
    }

    .btn {
      border-radius: 4px;
      height: 44px;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      padding: 0 30px;
      letter-spacing: 1px;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      align-items: center;
      background-color: #fcc045;
      color: #ffffff;
    }

  </style>
