---
interface Props {
    href?: string
    img?:string
    titulo?:string
    descripcion?: string
}

const { href, img, titulo, descripcion } = Astro.props
---

<div class="max-w-72 bg-cblanco rounded-lg shadow mx-auto flex flex-col justify-between">
    <div>
        <img class="rounded-t-lg" src={img} alt="" />
        <div class="p-4">
            <a href="#">
                <h5 class="mb-2 subtitulo text-csecundario"> {titulo} </h5>
            </a>
            <p class="mb-3 font-normal text-cazuloscuro"> {descripcion}  </p>
        </div>
    </div>
    <div class="p-4">
        <a href={href} class="max-w-28 hover-flechita cursor-pointer inline-flex items-center px-3 py-2 text-center text-cblanco bg-cprincipal rounded-lg hover:bg-choverprincipal transition-all ease-in-out hover:scale-110">
            Ver mas
            <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path class="text-cblanco" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>

    


    <style>
    .hover-flechita svg {
      transition: transform 0.3s ease-in-out;
    }
  
    .hover-flechita:hover svg {
      transform: translateX(3px);
    }
  </style>