---

---

<div class="flex flex-col items-center justify-evenly mb-20 mt-32">
    <p class="subtitulo text-center">Compañías a las que les he agregado valor.</p>
    <div class="mt-10 flex space-x-24 items-center">
        <a target="_blank" href="https://colegiosminutodedios.edu.co/"><img class="w-28" src="../../imgs/logoCemid.png" alt=""></a>
        <a target="_blank" href="https://corporacioneducativaminutodedios.edu.co/"><img class="w-60" src="../../imgs/cemidCorp.png" alt=""></a>
    </div>
</div>