---

---

<div class="h-screen flex flex-col items-center justify-evenly mt-96 sm:mt-20 lg:mt-0 ">
    <p class="subtitulo text-center">COMPAÑIAS A LAS QUE LE HE AGREGADO VALOR</p>
    <div class="">
        CEMID
    </div>
</div>