---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Componente footer">
    <p class="subtitulo">COMPAÑIAS A LAS QUE LE HE AGREGADO VALOR</p>
    <div class="flex space-x-4">
        CEMID
    </div>
</Layout>