---
 //scripts
---

<header class="fixed w-full z-50 top-0 px-52 py-8 bg-cblanco">
    <div class="flex flex-row items-center justify-between">
        <div class="subtitulo text-csecundario">
            <a href="">{`< EduDev />`}</a>
        </div>
        <div class="flex space-x-12 pararfo">
            <a class="hover:text-cprincipal transition-all ease-in-out hover:scale-105" href="">INICIO</a>
            <a class="hover:text-cprincipal transition-all ease-in-out hover:scale-105" href="">SOBRE MI</a>
            <a class="hover:text-cprincipal transition-all ease-in-out hover:scale-105" href="">PROYECTOS</a>
        </div>
    </div>
</header>