---
import Card from "./Card.astro";
---

<section id="Proyectos" class="flex items-center justify-center px-10 lg:mx-20 flex-wrap mt-40 lg:mt-0">
    <div> 
        <div class="text-center lg:text-left mb-10">
            <p class="subtitulo text-csecundario text-center">Proyectos</p>
            <p class="text-cprincipal parrafo text-center mt-6">CREADOS EN UN ENTORNO LABORAL, NO SON PROYECTOS UNIVERSITARIOS NI PERSONALES.</p>
            <p class="text-cprincipal subparrafo text-center mt-6">Algunos datos fueron eliminados, como nombres, códigos o cualquier tipo de información personal.</p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3 mx-auto">
            <Card 
                tecno1="JavaScript"
                tecno2="Bootstrap"
                tecno3="PHP"
                img="/portafolio/ProyectoLogin.webp"
                href="/portafolio/PortalEducativo"
                titulo="Portal educativo"
                descripcion="Se crearon las vistas en los módulos para ver las notas de los estudiantes, historial de enfermería, pasarela de pagos, ETC."
            />
            <Card 
                tecno1="Google Charts"
                tecno2="JavaScript"
                tecno3="PHP"
                img="/portafolio/metricas.png"
                titulo="Visualización de métricas"
                descripcion="Se agregaron gráficas para facilitar la lectura de los resultados de las encuestas."
            />
            <Card 
                tecno1="TailwindCSS"
                tecno2="JavaScript"
                tecno3="JQuery"
                img="/portafolio/plataformaEstu.png"
                titulo="Manejo de datos"
                descripcion="Se visualizan todos los estudiantes y el proceso en el cual están actualmente (Matriculado, Aceptado, Pre-Matriculado o Rechazado)."
            />
        </div>
    </div>
</section>
