---

---

<div id="Proyectos" class="h-screen flex items-center justify-evenly mt-20 lg:mt-0 px-10 lg:mx-20 flex-wrap">
    <div>
        <div class="max-w-96 text-center lg:text-left">
            <h6 class="subtitulo text-csecundario">ACA IRAN LOS PROYECTOS</h6>
        </div>
        <div class="block lg:hidden my-6">
            <img src="../../src/imgs/IlustracionPeque.png" alt="">
        </div>        
        <div class="flex items-center justify-center lg:justify-start">
            <a id="prueba" href="#" class="w-full lg:max-w-64 mt-5 bg-cprincipal text-center text-cblanco py-3 px-10 rounded-full font-bold shadow-md shadow-cprincipal/40 hover:bg-choverprincipal transition-all ease-in-out hover:scale-110">Habilidades</a>
        </div>
    </div>
    <div class="hidden lg:block">
        Proyectos
    </div>        
</div>